/*Utilize o CTRL + e o Ctrl - do browser para visualizar melhor*/

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
	background-image: url('./img/fundo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.solar-system {
    position: relative;
    width: 100%;
    height: 100vh;
}

.planet {
    position: absolute;
}

.sun {
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: 40.8%;
    left: 45.8%;
}

/* Mercurio */
.orbMercury {
    width: 16rem;
    height: 16rem;
    /*border: 2px solid #00ff00;*/
    position: absolute;
    top: 0; bottom: 12%; left: 0; right: 5%;
    margin: auto;
    border-radius: 50%;
}

#mercury {
    width: 8%;
    height: 8%;
    position: absolute;
    top: 46%; left: 48%;
    animation: orbitMercury 5s linear infinite;
}

@keyframes orbitMercury {
    0% { transform: rotate(0deg) translate(-8rem) rotate(0deg); }
    100% { transform: rotate(360deg) translate(-8rem) rotate(-360deg); }
}

/* Vênus */
.orbVenus {
    width: 32rem;
    height: 32rem;
    /*border: 2px solid #ffcc00;*/
    position: absolute;
    top: 0; bottom: 12%; left: 0; right: 5%;
    margin: auto;
    border-radius: 50%;
}

#venus {
    width: 12%;
    height: 12%;
    position: absolute;
    top: 43%; left: 46%;
    animation: orbitVenus 8s linear infinite;
}

@keyframes orbitVenus {
    0% { transform: rotate(0deg) translate(-16rem) rotate(0deg); }
    100% { transform: rotate(360deg) translate(-16rem) rotate(-360deg); }
}

/* Terra */
.orbEarth {
    width: 48rem;
    height: 48rem;
    /*border: 2px solid #3399ff;*/
    position: absolute;
    top: 0; bottom: 12%; left: 0; right: 5%;
    margin: auto;
    border-radius: 50%;
}

#earth {
    width: 16%;
    height: 16%;
    position: absolute;
    top: 40%; left: 45%;
    animation: orbitEarth 12s linear infinite;
}

@keyframes orbitEarth {
    0% { transform: rotate(0deg) translate(-24rem) rotate(0deg); }
    100% { transform: rotate(360deg) translate(-24rem) rotate(-360deg); }
}

/* Marte */
.orbMars {
    width: 64rem;
    height: 64rem;
    /*border: 2px solid #ff3300;*/
    position: absolute;
    top: 0; bottom: 12%; left: 0; right: 5%;
    margin: auto;
    border-radius: 50%;
}

#mars {
    width: 14%;
    height: 14%;
    position: absolute;
    top: 40%; left: 45%;
    animation: orbitMars 20s linear infinite;
}

@keyframes orbitMars {
    0% { transform: rotate(0deg) translate(-32rem) rotate(0deg); }
    100% { transform: rotate(360deg) translate(-32rem) rotate(-360deg); }
}

/* Júpiter */
.orbJupiter {
    width: 96rem;
    height: 96rem;
    /*border: 2px solid #ff9900;*/
    position: absolute;
    top: 0; bottom: 12%; left: 0; right: 5%;
    margin: auto;
    border-radius: 50%;
}

#jupiter {
    width: 18%;
    height: 18%;
    position: absolute;
    top: 35%; left: 40%;
    animation: orbitJupiter 30s linear infinite;
}

@keyframes orbitJupiter {
    0% { transform: rotate(0deg) translate(-48rem) rotate(0deg); }
    100% { transform: rotate(360deg) translate(-48rem) rotate(-360deg); }
}

/* Saturno */
.orbSaturn {
    width: 144rem;
    height: 144rem;
    /*border: 2px solid #0000ff;*/
    position: absolute;
    top: 0; bottom: 12%; left: 0; right: 5%;
    margin: auto;
    border-radius: 50%;
}

#saturn {
    width: 16%;
    height: 16%;
    position: absolute;
    top: 40%; left: 45%;
    animation: orbitSaturn 40s linear infinite;
}

@keyframes orbitSaturn {
    0% { transform: rotate(0deg) translate(-72rem) rotate(0deg); }
    100% { transform: rotate(360deg) translate(-72rem) rotate(-360deg); }
}

/* Urano */
.orbUranus {
    width: 120rem;
    height: 120rem;
    /*border: 2px solid #99ccff;*/
    position: absolute;
    top: 0; bottom: 12%; left: 0; right: 5%;
    margin: auto;
    border-radius: 50%;
}

#uranus {
    width: 14%;
    height: 12%;
    position: absolute;
    top: 40%; left: 45%;
    animation: orbitUranus 50s linear infinite;
}

@keyframes orbitUranus {
    0% { transform: rotate(0deg) translate(-85rem) rotate(0deg); }
    100% { transform: rotate(360deg) translate(-85rem) rotate(-360deg); }
}

/* Netuno */
.orbNeptune {
    width: 160rem;
    height: 160rem;
    /*border: 2px solid #3366ff;*/
    position: absolute;
    top: 0; bottom: 12%; left: 0; right: 5%;
    margin: auto;
    border-radius: 50%;
}

#neptune {
    width: 10%;
    height: 10%;
    position: absolute;
    top: 40%; left: 45%;
    animation: orbitNeptune 60s linear infinite;
}

@keyframes orbitNeptune {
    0% { transform: rotate(0deg) translate(-100rem) rotate(0deg); }
    100% { transform: rotate(360deg) translate(-100rem) rotate(-360deg); }
}
